/* src/pages/Register.css */

.container {
  max-width: 450px;
  margin: 60px auto;
  padding: 30px;
  background: #fefefe;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-top: 10px;
  font-weight: 600;
}

.form input,
.form select {
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.form button {
  margin-top: 20px;
  background: #01cc12f3;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form button:hover {
  background: #00910c;
}

.redirect-text {
  text-align: center;
  margin-top: 15px;
}